* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: Quicksand;
    src: url(/fonts/Quicksand/Quicksand-Medium.ttf);
}

@font-face {
    font-family: QuicksandBold;
    src: url(/fonts/Quicksand/Quicksand-Bold.ttf);
}

#header {
    background-color: #5670A1ff;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#logo {
    position: relative;
    width: 200px;
    margin-top: 5px;
    float: left;
    left: 5px;
}

#menu {
    float: right;
    color: black;
    font-family: QuicksandBold;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: -5px;
}

#menu li a {
    color: black;
    font-weight: bold;
    font-size: 32px;
    padding: 2px;
}

.checkbtn {
	color: black;
	float: right;
    margin-right: 40px;
	cursor: pointer;
    display: none;
}

.material-icons { 
    font-size: 48px;
    line-height: 60px; 
}

a.nav:hover {
    transition: .3s;
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
    background-color: grey;
    background: rgba(250, 250, 250, 0.205)
}

#check {
    display: none;
}

#imagem {
    height: 450px;
    background-size: cover;
    background-position: center;
    background-image: url(/image/RPGS/BadLands.png);
}

section.Personagens {
    display: block;
    font-family: Quicksand;
    background: white;
    padding-bottom: 5px;
    text-align: center;
}

figcaption.Titulo {
    font-family: QuicksandBold;
    color: #5670A1ff;
    font-size: 35px;
    margin-bottom: 15px;
}

figcaption.Basico h1 {
    font-family: Quicksand;
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

em {
    font-family: Quicksand;
    color: rgba(121, 121, 121, 0.808);
    font-size: 24px;
}

em.Bold {
    font-family: QuicksandBold;
    color: black;
}

img.Foto {
    width:  300px; /* Lembrar: Com esses valores, faz o grupo de imagens ser do mesmo tamanho idependente do tamanho dela */
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: black 0px 0px 10px;
    margin-bottom: -20px;
    margin-bottom: 10px;
}

img.Foto.longa {
    height: 500px;
}

@media (max-width: 850px){
	.checkbtn {
		display: block;
	}

    #menu {
		position: fixed;
		width: 100%;
		height: 100%;
        background: rgb(68, 90, 129);
		top: 64px;
		left: -100%;
		text-align: center;
		transition: all .5s;
    }

    #menu li {
        display: block;
    }

    #menu li a {
        font-size: 40px;
    }

    .material-icons { 
        font-size: 48px;
        line-height: 64px; 
    }


	#check:checked ~ ul {
		left: 0;
	}
}